.Upload-main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.Upload-container {
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background: #fafafb;
}
.Upload-title h1,
p {
  text-align: center;
}
.Upload-title p {
  font-weight: 500;
  font-size: 10px;
}
.Upload-input-container {
  cursor: pointer;
  margin: 0 32px;
  border-radius: 12px;
  background-color: #f6f8fb;
  border: 1px dashed #97bef4;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  overflow: hidden;
}
.Upload-img {
  display: grid;
  justify-items: center;
  margin-top: 35px;
}
.Upload-img p {
  color: #bdbdbd;
}
.Upload-inputFile {
  margin-top: -182px;
  cursor: pointer;
  height: 218.9px;
  width: 100%;
  opacity: 0;
}
.Upload-input-container:hover {
  border: 1px dashed #2f80ed;
}
.Upload-Or {
  color: #bdbdbd;
}
.Upload-submit-container {
  display: flex;
  justify-content: center;
}
input[type='submit'] {
  border: none;
  background: #2f80ed;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
  margin-bottom: 36px;
  cursor: pointer;
  font-family: 'Noto Sans';
}
.Upload-submit-container {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.Upload-submit-container label {
  cursor: pointer;
  color: white;
  background-color: #2f80ed;
  padding: 8px 16px;
  border-radius: 8px;
}
