@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.AnimationOut {
  animation-duration: 1s;
  animation-name: Out;
}
@keyframes Out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.Hide {
  display: none !important;
}

.Show {
  display: grid !important;
}
